<h1>
	Bonjour jdoe,
</h1>

<p>Le 2021-03-14T04:31:16+0000</p>
<p>«bob» vous a écrit ce commentaire:</p>

<p>
	<pre>un message</pre>
</p>

<p>
	Cliquez ici pour voir le <a href="http://progression.com/question?uri=aHR0cDovL3Rlc3QuY29tL3VuX2V4ZXJjaWNlLmluZm8&tentative=1735696174">commentaire dans Progression</a>.
</p>

<h3>
	Bonne Progression!
</h3>
